.container {
  width: 100%;
}
.content {
  font-size: 24px;
  max-width: 100%;
}
.avatar-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.heading {
  font-weight: bold;
}

body {
  background: rgb(204,204,204); 
}
page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}