@font-face {
  font-family: "RobotoMono-Bold";
  src: url(./fonts/RobotoMono-Bold.ttf);
}
@font-face {
  font-family: "RobotoMono-BoldItalic";
  src: url(./fonts/RobotoMono-BoldItalic.ttf);
}
@font-face {
  font-family: "RobotoMono-Italic";
  src: url(./fonts/RobotoMono-Italic.ttf);
}
@font-face {
  font-family: "RobotoMono-Regular";
  src: url(./fonts/RobotoMono-Regular.ttf);
}

.container {
  width: 100%;
  font-family: "RobotoMono-Regular";
}
.content {
  font-size: 24px;
  margin: auto;
  height: 842px;
  width: 595px;
  background-color: gray;
}
.avatar-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.heading {
  font-weight: bold;
}

page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}